*{
    margin: 0%;
}


header {
    border: 2px solid rgb(172, 146, 0);
    margin: 0px;
    
    width: 100%;
    height: 80px;
    background-color: rgb(224, 195, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(161, 128, 18);
    font-size: 28px;
    font-family:'Georgia, Times, 'Times New Roman', sans-serif;
}

#prov-nome{
    width: 80%;
}


.container {
    line-height: 50px;
    margin: 0%;
    align-items: stretch;
    justify-items: center;
    text-align: center;
    font-size: 30px;

    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
}

/*Estilos para os pilares*/
.pilar1 { background-color: rgb(255, 255, 255); 
   
    border: 2px solid black;
    width: 100%;
    align-items: center;
}
.pilar2 { background-color: rgb(255, 255, 255);
    
    width: 100%;
    border: 2px solid black;
    align-items: center;
 }
.pilar3 { background-color: rgb(255, 255, 255); 
    
    width: 100%;
    border: 2px solid black;
    align-items: center;}
